### Taking a set A with elements : {0,1, 2}
Performing the operations : 
- A x A = P
- P x A

In [22]:
# Imports :
# =========================
# !pip3 install pandas
import pandas as pd
import tabulate as tt

In [23]:
set_ele = [0,1,2]
set_ele

[0, 1, 2]

In [27]:
def ACrossAOperation(set_ele):
    res_set = []
    for i in set_ele:
        temp = []
        for j in set_ele:
            temp.append([i,j])
        res_set.append(temp)
    return res_set

def ACrossP(set_ele, orig_set):
    res_set = []
    for ele in orig_set:
        temp = []
        for i in set_ele:
            for j in i:
                temp.append([j,ele])
        res_set.append(temp)
    return res_set

res_set = ACrossAOperation(set_ele)
res_set

[[[0, 0], [0, 1], [0, 2]], [[1, 0], [1, 1], [1, 2]], [[2, 0], [2, 1], [2, 2]]]

In [28]:
tt.tabulate(res_set,tablefmt='html')

'<table>\n<tbody>\n<tr><td>[0, 0]</td><td>[0, 1]</td><td>[0, 2]</td></tr>\n<tr><td>[1, 0]</td><td>[1, 1]</td><td>[1, 2]</td></tr>\n<tr><td>[2, 0]</td><td>[2, 1]</td><td>[2, 2]</td></tr>\n</tbody>\n</table>'

In [29]:
p = res_set
data = ACrossP(p, set_ele)
tt.tabulate(data, tablefmt='html')

'<table>\n<tbody>\n<tr><td>[[0, 0], 0]</td><td>[[0, 1], 0]</td><td>[[0, 2], 0]</td><td>[[1, 0], 0]</td><td>[[1, 1], 0]</td><td>[[1, 2], 0]</td><td>[[2, 0], 0]</td><td>[[2, 1], 0]</td><td>[[2, 2], 0]</td></tr>\n<tr><td>[[0, 0], 1]</td><td>[[0, 1], 1]</td><td>[[0, 2], 1]</td><td>[[1, 0], 1]</td><td>[[1, 1], 1]</td><td>[[1, 2], 1]</td><td>[[2, 0], 1]</td><td>[[2, 1], 1]</td><td>[[2, 2], 1]</td></tr>\n<tr><td>[[0, 0], 2]</td><td>[[0, 1], 2]</td><td>[[0, 2], 2]</td><td>[[1, 0], 2]</td><td>[[1, 1], 2]</td><td>[[1, 2], 2]</td><td>[[2, 0], 2]</td><td>[[2, 1], 2]</td><td>[[2, 2], 2]</td></tr>\n</tbody>\n</table>'